body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.width {
    width: 50%
}
.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}
.card-header{
    background-color:teal;
    color:white;
}
.mt-4 {
  margin-top: 4 !important;
}
.white{
    color:white;
}